{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block body %}
<br/>
<h3 class="left-tab">
  Welcome back, {{ current_user.firstname }} {{ current_user.lastname }}!
 </h3><br/>

 	<div class="w-1/5 inline-block">
 	</div>

	<div class="w-3/5 inline-block">
	  {% block content %}
	    <div class="table w-full">
	    	<div class="table-header-group bg-gray-300">
	    		<div class="table-cell text-gray-700 px-4 py-2 text-md font-bold">ID</div>
	    		<div class="table-cell text-gray-700 px-4 py-2 text-md font-bold">Sender</div>
	    		<div class="table-cell text-gray-700 px-4 py-2 text-md font-bold">Recipient</div>
	    		<div class="table-cell text-gray-700 px-4 py-2 text-md font-bold">Note</div>
	    		<div class="table-cell text-gray-700 px-4 py-2 text-md font-bold">Amount</div>
	    		<div class="table-cell text-gray-700 px-4 py-2 text-md font-bold">Date</div>
	    		<div class="table-cell text-gray-700 px-4 py-2 text-md font-bold">Type</div>
	    		<div class="table-cell text-gray-700 px-4 py-2 text-md font-bold">Status</div>
	    	</div>
	    	{% for row in transactions %}
	  		<div class="table-row-group bg-gray-300 hover:bg-gray-200">
		  		<div class="table-cell text-gray-700 px-4 py-2 text-sm">{{ row.id }}</div>
			    <div class="table-cell text-gray-700 px-4 py-2 text-sm">{{ row.sender }}</div>
			    <div class="table-cell text-gray-700 px-4 py-2 text-sm">{{ row.recipient }}</div>
			    <div class="table-cell text-gray-700 px-4 py-2 text-sm">{{ row.note }}</div>
			    <div class="table-cell text-gray-700 px-4 py-2 text-sm">${{ row.formatted_amount_total }}</div>
			    <div class="table-cell text-gray-700 px-4 py-2 text-sm">{{ row.formatted_date }}</div>
			    <div class="table-cell text-gray-700 px-4 py-2 text-sm">{{ row.transaction_type }}</div>
			    <div class="table-cell text-gray-700 px-4 py-2 text-sm">{{ row.status }}</div>
		  	</div>
		  	{% endfor %}
	  	</div>
	</div>

	<div class="w-1/10 inline-block absolute ml-4">
		<form action="" method="post" enctype="multipart/form-data" novalidate class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        {{ form.hidden_tag() }}
        <div class="mb-4">
            <p>
                {{ form.file.label(class_='block text-grey-darker text-sm font-bold') }}<br>
                {{ form.file() }}
                {% if form.file.errors %}
                    <ul class="errors">{% for error in form.file.errors %}<li class="text-red-600">{{ error }}</li>{% endfor %}</ul>
                {% endif %}
            </p>
        </div>
            
        <div class="flex items-center justify-between">
            {{ form.submit(class_='bg-blue-400 hover:bg-blue-200 text-white font-bold py-2 px-2 rounded mt-2 focus:outline-none focus:shadow-outline mb-2 w-1/2')  }}
        </div>
    </form>
 	</div>

  {% endblock %}


{% endblock %}