{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block body %}
<br/>
<h3 class="left-tab">
  Welcome back, {{ current_user.firstname }} {{ current_user.lastname }}!
 </h3><br/>

 	<div class="w-1/5 inline-block">
 	</div>

	<div class="w-3/5 inline-block">
	  {% block content %}
	    <div class="table w-full">
	    	<div class="table-header-group bg-gray-300">
	    		<div class="table-cell text-gray-700 px-4 py-2 text-md font-bold">ID</div>
	    		<div class="table-cell text-gray-700 px-4 py-2 text-md font-bold">From</div>
	    		<div class="table-cell text-gray-700 px-4 py-2 text-md font-bold">To</div>
	    		<div class="table-cell text-gray-700 px-4 py-2 text-md font-bold">Note</div>
	    		<div class="table-cell text-gray-700 px-4 py-2 text-md font-bold">Amount</div>
	    		<div class="table-cell text-gray-700 px-4 py-2 text-md font-bold">Date</div>
	    		<div class="table-cell text-gray-700 px-4 py-2 text-md font-bold">Type</div>
	    		<div class="table-cell text-gray-700 px-4 py-2 text-md font-bold">Status</div>
	    	</div>
	    	{% for row in transactions %}
	  		<div class="table-row-group bg-gray-300 hover:bg-gray-200">
		  		<div class="table-cell text-gray-700 px-4 py-2 text-sm">{{ row.id }}</div>
			    <div class="table-cell text-gray-700 px-4 py-2 text-sm">{{ row.sender }}</div>
			    <div class="table-cell text-gray-700 px-4 py-2 text-sm">{{ row.recipient }}</div>
			    <div class="table-cell text-gray-700 px-4 py-2 text-sm">{{ row.note }}</div>
			    <div class="table-cell text-gray-700 px-4 py-2 text-sm">${{ row.amount }}</div>
			    <div class="table-cell text-gray-700 px-4 py-2 text-sm">{{ row.formatted_date }}</div>
			    <div class="table-cell text-gray-700 px-4 py-2 text-sm">{{ row.transaction_type }}</div>
			    <div class="table-cell text-gray-700 px-4 py-2 text-sm">{{ row.status }}</div>
		  	</div>
		  	{% endfor %}
	  	</div>
	</div>

	<div class="w-1/5 inline-block">
 	</div>

  {% endblock %}


{% endblock %}