{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block body %}
<div class="w-1/2 inline-block">
	
</div>
<div class="w-2/5 inline-block">
    <form action="" method="post" novalidate class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        {{ form.hidden_tag() }}
        <div class="mb-4">
            <p class="inline-block">
                {{ form.username.label(class_='block text-grey-darker text-sm font-bold') }}
                {{ form.username(size=32, class_='shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline mb-4') }}
            </p>
            <p class="inline-block">
                {{ form.firstname.label(class_='block text-grey-darker text-sm font-bold') }}
                {{ form.firstname(size=32, class_='shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline mb-4') }}
            </p>
            <p class="inline-block">
                {{ form.lastname.label(class_='block text-grey-darker text-sm font-bold') }}
                {{ form.lastname(size=32, class_='shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline mb-4') }}
            </p>
            <p class="inline-block">
                {{ form.email.label(class_='block text-grey-darker text-sm font-bold') }}
                {{ form.email(size=32, class_='shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline mb-4') }}
            </p>
            <p>
                {{ form.password.label(class_='block text-grey-darker text-sm font-bold') }}
                {{ form.password(size=32, class_='shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline mb-4') }}
            </p>
            <p>
                {{ form.confirm.label(class_='block text-grey-darker text-sm font-bold') }}
                {{ form.confirm(size=32, class_='shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline mb-4') }}
            </p>
        </div>
        <div class="flex items-center justify-between">
            {{ form.submit(class_='bg-blue-400 hover:bg-blue-200 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mb-2 w-full')  }}
        </div>
    </form>
    <p class="text-center text-grey text-xs">
    ©2020 {{ company.name }}. All rights reserved.
  </p>
</div>
{% endblock %}